<div class="card m-3" style="width: 18rem;">
    <img src="{{product.photo}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.category}}.</p>
        <p class="card-text">price: {{product.price}}$</p>
        <p class="card-text">stock: {{product.stock}}-u</p>
    </div>
</div>