<div class="user-profile">
  <div class="container">
    <form class="mt-2">
        <input class="mt-2" type="text" name="id" id="userId" placeholder="search user id">
    </form>
    <div>
        <h3 class="mt-4">User data</h3>
        <p>id: {{user.id}}</p>
        <p>email: {{user.email}}</p>
        <p>password: {{user.password}}</p>
        <p>role: {{user.role}}</p>
        <p>photo: {{user.photo}}</p>
    </div>
  </div>
</div>